{{<layout}}

{{$pageTitle}}GOV.UK elements{{/pageTitle}}

{{$content}}

<main class="elements-index" id="content" role="main">

  <!--{{>phase_banner}}-->
  <!--{{>breadcrumb}}-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Star Wars Fans
      </h1>

      <p class="lede">
        This questionnaire helps us identify your knowledge of Star Wars.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form name="starwars-form" id="starwars-form">
          <fieldset>

            <legend class="heading-large">The force is strong with this one</legend>

            <div class="form-group">
              <label class="form-label" for="fav-film">What is your favourite Star Wars film?</label>
              <input required class="form-control" name="favourite-film" id="fav-film" type="text">
            </div>

            <div class="form-group">
              <p class="form-label">Which of these characters are from the Star Wars universe?</p>
              <label class="block-label" for="spock">
                <input id="spock" name="spock" type="checkbox" value="Spock">
                Spock
              </label>
              <label class="block-label" for="darth-vader">
                <input id="darth-vader" name="darth-vader" type="checkbox" value="Darth Vader">
                Darth Vader
              </label>
              <label class="block-label" for="captain-kirk">
                <input id="captain-kirk" name="captain-kirk" type="checkbox" value="Captain Kirk">
                Captain Kirk
              </label>
              <label class="block-label" for="luke-skywalker">
                <input id="luke-skywalker" name="luke-skywalker" type="checkbox" value="Luke Skywalker">
                Luke Skywalker
              </label>
              <label class="block-label" for="rey-mysterio">
                <input id="rey-mysterio" name="rey-mysterio" type="checkbox" value="Rey Mysterio">
                Captain Kirk
              </label>
            </div>

            <div class="form-group">
              <p class="form-label">Do you know who Rey’s parents are?</p>
              <label class="block-label" data-target="reveal-ray-parents" for="radio-indent-1">
                <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                Yes
              </label>
              <label class="block-label" for="radio-indent-2">
                <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                No
              </label>
              <div class="panel panel-border-narrow js-hidden" id="reveal-ray-parents">
                <label class="form-label" for="ray-parents">Who are Rey’s parents?</label>
                <input class="form-control" name="ray-parents" type="text" id="ray-parents">
              </div>
            </div>


            <div class="form-group">
              <label class="form-label invisible" for="submit">Submit</label>
              <input required class="button button-start" name="submit" id="submit" type="submit">
            </div>

          </fieldset>
      </form>
    </div>
  </div>


</main><!-- / #content -->
{{/content}}

{{$bodyEnd}}
  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {{>scripts}}
{{/bodyEnd}}

{{/layout}}
